# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*               @Omikorin @StachowiakDawid @jakubwiczkowski

# force bot to be a black hole for notifications
package.json    @Informatyzacja-CI
package-lock.json    @Informatyzacja-CI
pnpm-lock.yaml  @Informatyzacja-CI
yarn.lock       @Informatyzacja-CI
