NEXT_PUBLIC_API_URL=https://parlament.samorzad.pwr.edu.pl/backend
NEXT_PUBLIC_DATABASE_URL=postgres://strapi:strapi@localhost:5432/strapi?synchronize=true
NEXTAUTH_URL=https://parlament.samorzad.pwr.edu.pl
NEXTAUTH_SECRET=secret
GOOGLE_CLIENT_ID="216967477149-at33sd4ftbkqe5qtmdjm9787efs3t2lq.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
