HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified

# nodemailer configuration
SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_DEFAULT_FROM=
SMTP_DEFAULT_REPLY_TO=

# auto generated jwt secret
JWT_SECRET=tobemodified
